<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if states %}
            <H1>States</H1>
            <UL>
                {% for state in states %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
                {% endfor %}
            </UL>
        {% elif the_state %}
            <H1>State: {{ the_state.name }}</H1>
            <H3>Cities:</H3>
            <UL>
                {% if the_state.cities %}
                    {% for city in the_state.cities %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                {% else %}
                    <LI>No cities found.</LI>
                {% endif %}
            </UL>
        {% elif not_found %}
            <H1>Not found!</H1>
        {% else %}
            <H1>States</H1>
        {% endif %}
    </BODY>
</HTML>